/***********************************************
  $page layout
***********************************************/
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  /* min-height: 100%; */
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

/***********************************************
  $navbar
***********************************************/
.navbar {
  padding: 1rem 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* .navbar__container {
  margin: 0 auto;
  max-width: var(--limited-width-container);
} */

.navbar__list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navbar__title {
  margin-left: 20px;
  margin-right: auto;
}

.navbar__user {
  
}

.navbar__logout {
  margin: 0 20px;
}

.movie__voteBtn {
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  outline: none;
}

.movie__vote {
  font-size: 1rem;
}

.fa-thumbs-up {
  position: relative;
  top: -1px;
  margin-left: 3px;
  color: rgb(85, 85, 85);
}

.fa-thumbs-up:hover {
  color: green;
}

.green {
  color: green;
}

.flex_container {
  display: flex;
  margin-bottom: auto;
}

.sidebar{
  width: 300px;
}

.movies_section{
  width: 100%;
  padding: 0 15px;
}

.sidebar__form{
  display: flex;
  flex-direction: column;
}

.movie{
  padding: 10px;
}

.singlemovie{
  margin: 20px auto;
  width: 50%;
  margin-bottom: auto;
}

.footer {
  padding: 20px;
}