<div class="login_flex_container"> 
    <div class="login_flex_inner"> 
<section class="signup" id="signup">
        <h2 class="signup__header">Signup</h2>
        <form class="signup__form" id="signup__form" action="/addUser" method="POST">
            <input type="text" name="username" placeholder="Name" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirmpassword" placeholder="Confirm password" required>
            <p class="signup__error">{{signupError}}</p>
            <input class="login_submit" type="Submit" value="Submit">
        </form>
        
    </section>
    <section class="login" id="login">
        <h2 class="login__header">Login</h2>
        <form class="login__form" id="login__form" action="/loginUser" method="POST">
            <input type="text" name="username" placeholder="Name" required>
            <input type="password" name="password" placeholder="Password" required>
             <p class="login__error">{{loginError}}</p>
            <input class="login_submit" type="Submit" value="Submit">
        </form>
       
    </section>
    </div>
    </div>
<script src="/index.js"></script>
