<!DOCTYPE html>
<html lang=en "">

<head>
    <meta charset="utf-8">
    <title>Horror Club Movies</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <link rel="stylesheet" href="/styles.css">
</head>