    <header class="navbar">
        <nav class="navbar__nav" role="navigation">
            <ul class="navbar__list">
                <li class="navbar__title">
                    <h3>What Horror Movie Should We Watch?</p>
                </li>
                <li class="navbar__user">
                    <p>Hello <span>{{username}}</span></p>
                </li>
                <li class="navbar__logout">
                    <a class="navbar__link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
