    <header class="navbar">
        <nav class="navbar__nav" role="navigation">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a class="navbar__link" href="/">Home</a>
                    <a class="navbar__link" href="/">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
