    <header class="navbar">
        <nav class="navbar__nav" role="navigation">
            <ul class="navbar__list">
                <li class="navbar__title">
                    <img class="hand_img" src="/images/hand.png"/>
                    <h3>HorrorClub</h3>
                </li>
                <li class="navbar__title">
                    <p>What movie shall we watch next...?</p>
                </li>
                <li class="navbar__title">
                    <p>Hello {{username}}</p>
                    <a class="navbar__link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
